@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* other css file imports */
@import url("sections/header.css");
@import url("sections/hero.css");
@import url("sections/about.css");
@import url("sections/nextstep.css");
@import url("sections/register.css");
@import url("sections/footer.css");

/* CSS variables for reusablity across all files (including above imported) */
:root {
  --playfair-display: "Playfair Display", serif;
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

  --primary-color: #01589A;
  --secondary-color: #014273;

  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--color-creamson);
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button__general {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  align-items: center;
  padding: 12px 24px;
  border-radius: 4px;
}

.button__style1 {
  align-items: center;
  color: var(--primary-color);
  background-color: #fff;
  padding: 12px 24px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
}

.button__style2 {
  align-items: center;
  color: #fff;
  background-color: var(--primary-color);
  padding: 12px 24px;
  border: 1px solid #fff;
  border-radius: 4px;
}

.title__text {
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight: 700px;
  margin-bottom: 10px;
}

.subtitle__text {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400px;
  margin-bottom: 40px;
}

/* START: header media querie */
@media screen and (max-width: 900px) {
  .header__nav {
    background: var(--primary-color);
  }

  .header__menu {
    display: none;
  }

  .header__menu-mobile {
    display: flex;
  }
}

@media screen and (max-width: 550px) {
  .header__logo {
    padding-left: 0;
  }
}
/* END: header media queries */