.about {
  text-align: center;
  padding: 60px 10%;
}

.about h3 p {
  color: #000;
}

.about__cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 300px;
  transition: 0.3s;
}

.card img {
  width: 86.67px;
  height: 86.67px;
  margin-bottom: 15px;
}

.card h3 {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}

.card p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400px;
  color: #000;
  margin-bottom: 15px;
}

.card .pricetag {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #999;

}

.price {
  display: inline;
  font-size: 16px;
  font-weight: 600px;
  color: #000;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
