.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
  font-family: 'Lato', sans-serif;
  color: white;
  padding: 50px 10%;
}

.hero__content {
  max-width: 50%;
}

.hero__content h3 p {
  color: #fff;
}

.hero__button {
  display: inline-block;
  width: 137px;
  height: 48px;
}

.hero__button:hover {
  background-color: #0056b3;
  color: white;
}

.hero__image {
  max-width: 45%;
}

.hero__image img {
  width: 100%;
  height: auto;
}
